* {
  /*font-size: 5px;*/
  word-break: break-word;
  margin: 0;
  font-family: Nunito, sans-serif;
}
html {
  width: 100%;
  box-shadow: inset 0px 0px 50px 15px rgb(200, 100, 120);
  background-color: rgb(197, 179, 88);
}
a {
  word-break: break-word;
  color: rgb(150, 200, 250);
}
.square {
  display: flex;
  position: absolute;
  width: 50%;
  min-width: 30px;
}
.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.content {
  display: flex;
  position: absolute;
  top: 3%;
  left: 4%;
  width: 16%;
  height: 16%;
  min-height: 19px;
  min-width: 19px;
  max-height: 89px;
  max-width: 89px;
  border-radius: 50px;
  background-color: blue;
}
@media (min-width: 900px) {
  .content {
    display: flex;
    position: absolute;
    top: 10px;
    left: 20px;
    width: 16%;
    height: 16%;
    min-height: 19px;
    min-width: 19px;
    max-height: 69px;
    max-width: 69px;
    border-radius: 50px;
    background-color: blue;
  }
}

.formbkgdclsd {
  display: flex;
  position: relative;
  background-color: blue;
  height: 0px;
  bottom: 0px;
  width: 100%;
  align-items: center;
  transition: height 0.25s ease-out;
  flex-direction: column;
}
.formbkgdclsd div {
  display: none;
}
.formbkgd {
  display: flex;
  position: relative;
  bottom: 0px;
  background-color: blue;
  height: 400px;
  width: 100%;
  align-items: center;
  transition: height 0.25s ease-in;
  flex-direction: column;
  padding-bottom: 30px;
}
.formbkgd div {
  max-height: 600px;
  transition: max-height 0.25s ease-in;
}
.formbkgd a {
  display: flex;
  position: relative;
  padding: 30px;
  max-height: 300px;
  color: rgb(240, 240, 250);
}

.formbkgd input {
  display: flex;
  position: relative;
  padding: 3px 0px;
  color: rgb(240, 240, 250);
  font-size: 15px;
  text-indent: 6px;
  max-height: 300px;
}
.formbkgd textarea {
  display: flex;
  position: relative;
  padding-top: 5px;
  color: rgb(240, 240, 250);
  font-size: 15px;
  text-indent: 6px;
  max-height: 300px;
}
.emailform {
  display: grid;
  position: relative;
  top: 76px;
  width: 90%;
  flex-direction: column;
  font-size: 26px;
}

.dots div {
  background-color: white;
  height: 3px;
  width: 3px;
  border-radius: 2px;
}
